<section class="user-section">
    <div class="img-container">
        <img src="{{user.img}}" alt="user image profile" class="img">
    </div>
    <h3>{{user.first_name}} {{user.last_name}}</h3>
    <p class="user-job">{{user.job_title}}</p>
</section>