<section class="user-section">
    <div class="img-container">
        <img src="{{candidate.img}}" alt="user image profile" class="img">
    </div>
    <h3>{{candidate.first_name}} {{candidate.last_name}}</h3>
    <p class="user-job">{{candidate.job_title}}</p>
</section>