<li class="list-item">
    <a href="#" class="link link--job">
        <div class="job-container">
            <div class="job-title-container">
                <h2>{{title}}</h2>
            </div>
            <div class="job-info-container">
                <p class="company-name">{{recruiter.company_name}}</p>
                <p class="salary">{{formatSalary salary}}</p>
                <p class="job-location">{{recruiter.location}}</p>
            </div>
        </div>
    </a>
</li>