body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;  
}

.header {
    background-color: #333;  
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex: 1;
    padding: 2rem;
    gap: 2rem;
}

.sidebar-modal {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    flex-shrink: 0;
}

.user-info {
    text-align: center;
}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-name {
    margin: 0.5rem 0;
}

.user-jobs {
    margin-top: 2rem;
}

.jobs-list {
    list-style: none;
    padding: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.job-listings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-listing {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.job-title {
    margin: 0;
    font-size: 1.25rem;
    flex-basis: 100%; 
}

.company-name,
.salary,
.job-location {
    margin: 0.5rem 0;
    flex-basis: 100%; 
}

.job-description {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 1rem;
    flex-basis: 100%; 
}

.job-description p {
    margin: 0;
}

.close {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: -10px;
}

.view-details {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #f63e02;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.apply-job {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1rem;
}
