<section class="user-section">
    <div class="img-container">
        <img src="{{user.user_img}}" alt="" class="img">
    </div>
    <h3>{{user.first_name}} {{user.last_name}}</h3>
    <p class="user-job">{{user.job_title}}</p>
</section>
<section class="job-section">
    <h2>Your Applications</h2>
    <ul class="list job-list">
        {{#each jobApplications as |application|}}
        {{> job-details}}
        {{/each}}
    </ul>
</section>