<section class="new-job-section">
    <form id="new-job-form">
        <div class="form-group new-job-form-group">
            <input type="text" placeholder="Job Title" id="new-job-title" autocomplete="off">
            <input type="text" placeholder="Salary" id="salary" autocomplete="off">
            <textarea name="new-job-description" id="new-job-description" class="job-description-text" placeholder="Enter job description"></textarea>
        </div>
        <div class="btn-container">
            <button class="btn" type="submit">Create</button>
        </div>
    </form>
</section>