<section class="user-editor">
    <div class="img-editor-container">
        <div class="img-container">
            <img src="{{user.user_img}}" alt="" class="img">
        </div>
        <form id="upload-form" class="form-section" enctype="multipart/form-data">
            <div class="form-group image-form">
                <label for="image" class="custom-input-file" class="input">Select your image</label>
                <input type="file" name="image" class="image-input" id="image">
            </div>
            <button type="submit">Upload</button>
        </form>
    </div>
    <form class="edit-form">
        <div class="form-group mb-1">
            <span class="label">Information</span>
            <input type="text" placeholder="Enter your first name" id="first-name" autocomplete="off" value="{{user.first_name}}">
            <input type="text" placeholder="Enter your last name" id="last-name" autocomplete="off" value="{{user.last_name}}">
            <input type="text" placeholder="Enter your desire job" id="job-title" autocomplete="off" value="{{user.job_title}}">
        </div>
        <div class="btn-container">
            <button class="btn" type="submit">Save</button>
        </div>
    </form>
</section>